@import "tailwindcss";

:root {
  --background: #FCF1D5; /* sand10 */
  --foreground: #334155;
  --primary: #6A8323;    /* primary100 */
  --secondary: #f87171;  /* secondary */
}

@theme {
  --color-sand10: #FCF1D5;
  --color-primary100: #6A8323;
  --color-primary140: #55691C;
  --color-sand20: #F9ECC5;
  --color-secondary: #f87171;
  --color-secondaryHover: #ef4444;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
